<section class="contenidos-list">
        <article class="box-article" data-id="1">
            <h2><a class="link" href="article.html">Chiang Mai</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Jose Luis Pilo</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-1.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-1-225px.jpg 1x, img/article-1-450px.jpg 2x, img/article-1-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-1-360px.jpg 1x, img/article-1-720px.jpg 2x, img/article-1-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-1-180px.jpg 1x, img/article-1-360px.jpg 2x, img/article-1-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-1-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/09/02 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 5 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="1">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        La “Rosa del Norte” de Tailandia es una maravilla natural y cultural que se caracteriza por su
                        diversidad étnica, un amplio abanico de atracciones y su acogedora hospitalidad.
                        Chiang Mai significa literalmente “nueva ciudad” y ha conservado el nombre incluso tras 
                        la celebración de su 700º aniversario en 1996.
                        El rey Meng Rai el Grande fundó la ciudad como capital del Reino Lanna el jueves 12 de abril de 1296, en la misma época en la que se estableció el Reino de Sukhothai. El Rey Meng Rai consultó con sus amigos, el Rey Ramkhamhaeng de Sukhothai y el rey Ngam Muang de Phayao, antes de elegir el sitio donde se fundaría la capital del Reino Lanna. A partir de ese momento, Chiang Mai no sólo se convirtió en la capital y el núcleo cultural del Reino Lanna, sino también en el centro del Budismo del norte de Tailandia. El propio Meng Rai era un líder muy religioso que fundó muchos de los templos de la ciudad, que hoy día siguen siendo importantes. Chiang Mai es uno de los pocos lugares en Tailandia donde es posible experimentar
                        las dos caras de la cultura Thai, histórica y moderna,que conviven una al lado de la otra: la ciudad cuenta con antiquísimas pagodas y templos junto a
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="2">
            <h2><a class="link" href="article.html">Australia</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Jose Sanchez Perez</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-2-225px.jpg 1x, img/article-2-450px.jpg 2x, img/article-2-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-2-360px.jpg 1x, img/article-2-720px.jpg 2x, img/article-2-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-2-180px.jpg 1x, img/article-2-360px.jpg 2x, img/article-2-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-2-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/23 8:23:33</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 5 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="2">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Australia siempre había sido un destino soñado para nosotros. Estuvimos muy cerca de ir en 2006 cuando ganamos un 
                        concurso que tenía como premio dos billetes de avión a cualquier parte del mundo, aunque al final fuimos a Japón.
                        Pensamos que no tendríamos suficiente tiempo para ver Australia en dos semanas –las vacaciones que teníamos en aquel momento– y decidimos dejarlo para más adelante. El momento “perfecto” para viajar a Australia llegó en 2012. Nuestra luna de miel. Si pensáis, como nosotros, que 15 días son pocos para el país-continente, tened presente que tres 
                        semanas tampoco son suficientes. Eso fue lo que duró nuestro viaje, nuestra luna de miel a Australia, tres semanas.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="3">
            <h2><a class="link" href="article.html">TEPIC</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Macarena Garcia</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-3.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">    
                        <picture>
                            <source srcset="img/article-3-225px.jpg 1x, img/article-3-450px.jpg 2x, img/article-3-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-3-360px.jpg 1x, img/article-3-720px.jpg 2x, img/article-3-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-3-180px.jpg 1x, img/article-3-360px.jpg 2x, img/article-3-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-3-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2005/08/02 11:25:00</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 10 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="3">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Pocos restaurante mexicanos pueden presumir de llevar 9 años al pie del cañón, casi ninguno en Madrid, de hecho. Nosotros ya conocimos Tepic cuando estaba en Chueca, antes incluso de formalizar nuestra andadura gastronómica, y hace un tiempo te lo recomendábamos en este post como uno de los mejores restaurantes mexicanos en Madrid…
                        ya era hora de volver para probar su renovada carta y sus cócteles (que gran sorpresa nos dieron).
                        Esta renovación tan bien entendida en Tepic tiene tres protagonistas, uno en la sala y en la barra, 
                        Javier Quiñones (ex profesor en el Basque Culinary Center y ex finalista del World Class), y dos en cocina, 
                        Sara Herrera (recién llegada de Casa Enrique, único mexicano con estrella Michelin en Nueva York), y el chef 
                        Ángel Rodriguez, quien lleva años cuidando cada detalle al milímetro. Como ejemplo, tienen un huerto propio en León, 
                        donde cultivan los chiles, y los trasladan del huerto al restaurante, 
                        y en este los van cuidando hasta que los usan cuando han alcanzado su punto exacto de maduración.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="4">
            <h2><a class="link" href="article.html">El Loira</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Cristiano Ronaldo</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-4.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-4-225px.jpg 1x, img/article-4-450px.jpg 2x, img/article-4-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-4-360px.jpg 1x, img/article-4-720px.jpg 2x, img/article-4-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-4-180px.jpg 1x, img/article-4-360px.jpg 2x, img/article-4-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-4-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/20 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 15 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="4">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        En el Valle del Loira, también conocido como el jardín de Francia por su belleza, es donde se encuentran los famosos Castillos del Loira, declarados Patrimonio de la Humanidad. Este valle, además de por los más de cincuenta castillos renacentistas que se sitúan cerca de la orilla del río, entre las ciudades de Angers y Orleans, por el que transita el río Loira, es también famoso por sus viñedos.
                        La mejor forma de recorrer los castillos del Valle del Loira es alquilar un coche, para disfrutar de la libertad de poder parar dónde y cuándo quieras, sobre todo en esta zona donde los grandes paisajes son una de sus muchas maravillas.
                        Aunque cualquier momento es bueno para visitar al Valle del Loira, podríamos decir que la mejor época para viajar a los Castillos del Loira es entre abril y junio y entre septiembre y octubre, ya que en la época de invierno el frío es una constante y además, llueve bastante.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="5">
            <h2><a class="link" href="article.html">Ronda 14</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Leo Messi</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-5.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-5-225px.jpg 1x, img/article-5-450px.jpg 2x, img/article-5-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-5-360px.jpg 1x, img/article-5-720px.jpg 2x, img/article-5-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-5-180px.jpg 1x, img/article-5-360px.jpg 2x, img/article-5-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-5-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/20 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 12 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="5">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Si nos sigues desde hace tiempo ya lo sabrás, si lo haces desde hace poco, te lo cuento, la gastronomía peruana nos vuelve locos.
                        Yo personalmente nací en Madrid, pero mi familia es latina, así que me he criado comiendo comida latina en general, 
                        y mucha peruana en particular. Así que siempre que podemos nos escapamos a probar peruanos, 
                        hace no mucho te lanzábamos nuestro ranking de los mejores de Madrid, y el restaurante de esta semana, Ronda 14, es uno de ellos por muchos motivos, allá vamos.
                        Se trata del proyecto del chef Mario Céspedes, quien tras su paso por El Celler de Can Roca, Kabuki
                         o Ramón Freixa, abrió el primer Ronda 14 en Avilés, le fue como un tiro, y hace dos años inauguró el restaurante de Madrid.
                    </a>        
                </div>
            </div>
        </article>
        <article class="box-article" data-id="6">
            <h2><a class="link" href="article.html">Atómica</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Charlize Theron</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-6.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VSWiesqagko" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/20 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 33 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="6">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                    'Atómica' es el nuevo y sorprendente thriller de acción que se estrena este verano con Charlize Theron y James McAvoy como portagonistas.
                    Basada en el comic 'La ciudad más fría', la nueva cinta de David Leitch ('John Wick') antes de hacerse cargo de
                    'Deadpool 2', pretende el más difícil todavía: crear un nuevo icono del cine de acción más pop.
                    Lorraine Broughton es una espía de alto nivel del MI6 que se traslada a Berlín tras la caída del muro 
                    para acabar con una red de espionaje que asesinó a un agente encubierto por razones misteriosas. 
                    Según reza la sinopsis oficial de 'Atómica': "Lorraine es enviada a Berlín a recompilar información sobre el extraño 
                    asesinato de otro agente encubierto. Ella es espionaje, sensualidad y fiereza en partes iguales y está dispuesta a utilizar
                    cualquiera de sus habilidades para mantenerse viva en esta misión imposible".
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="7">
            <h2><a class="link" href="article.html">Taquilla</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Manolo Perez</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-7-225px.jpg 1x, img/article-7-450px.jpg 2x, img/article-7-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-7-360px.jpg 1x, img/article-7-720px.jpg 2x, img/article-7-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-7-180px.jpg 1x, img/article-7-360px.jpg 2x, img/article-7-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-7-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/20 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 52 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="7">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        A fecha del pasado domingo, el cine español sumaba €45,3 millones de recaudación en taquilla en 2017. 
                        La verdadera lucha por alcanzar los €100 millones este año ha dado comienzo con la llegada de Tadeo Jones 2, 
                        cuyo estreno -€2,6 millones- supone un revulsivo menos arrollador de lo esperado, aunque igualmente un éxito incontestable 
                        y con vistas a una carrera de fondo marcada por mínimos descensos, algo característico en las cintas de animación y 
                        producciones de Mediaset. No me extrañaría verla multiplicar por 6-7 e, incluso, acercarse a los €18-20 millones. 
                        Por ahora sabemos que sus datos entre semana han sido brillantes.
                        Verónica se convierte en el 2º mejor estreno del año para una película no participada por las TV privadas, por detrás de Lo que de verdad importa. Logra 700.000 euros rodeada de buenos comentarios, aunque sin un boca a boca arrollador entre el gran público. Su rendimiento antes de la llegada arrasadora de It dentro de 7 días será crucial. Verla multiplicar por 4 sería todo un éxito. Por ahora, su objetivo parece estar en los €2,5 millones.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="8">
            <h2><a class="link" href="article.html">KAPPO</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Edurne Perez</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-8.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-8-225px.jpg 1x, img/article-8-450px.jpg 2x, img/article-8-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-8-360px.jpg 1x, img/article-8-720px.jpg 2x, img/article-8-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-8-180px.jpg 1x, img/article-8-360px.jpg 2x, img/article-8-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-8-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/31 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 17 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="8">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Hablar del mejor tal o el mejor cuál es siempre muy relativo, de hecho, la misma experiencia gastronómica 
                        en un sitio puede resultar muy diferente para cada persona, porque la subjetividad en lo que para unos es comer bien,
                        y para otros no, siempre está muy presente. Pero en este caso me da igual, porque creo que puedo asegurar que con Kappo estamos
                        ante uno de los mejores japoneses de Madrid, si no el mejor, sin que me tiemble la voz. Te cuento por qué soy tan categórico.
                        El chef Mario Payán (15 años en Kabuki) lleva 10 meses al frente de su proyecto personal, Kappo… donde en cada servicio realiza
                        una masterclass de su buen hacer como Sushiman, no en vano es uno de los más grandes del país.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="9">
            <h2><a class="link" href="article.html">La Mentira</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Blanca Suarez</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-9.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-9-225px.jpg 1x, img/article-9-450px.jpg 2x, img/article-9-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-9-360px.jpg 1x, img/article-9-720px.jpg 2x, img/article-9-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-9-180px.jpg 1x, img/article-9-360px.jpg 2x, img/article-9-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-9-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/20 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 50 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="9">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Obra de referencia del teatro francés de los últimos tiempos, La mentira es un juego de verdades y 
                        falsedades que disecciona los secretos de la vida conyugal y sus consecuencias. Claudio Tolcachir dirige la versión 
                        española del montaje escrito originalmente por Florian Zeller, y lo hace con la complicidad de actores de la talla de 
                        Carlos Hipólito, Natalia Millán, Mapi Sagaseta y Armando del Río. Alicia acaba de pillar al marido de su mejor amiga con 
                        otra mujer, justo la misma noche en la que van a cenar con la pareja. Su marido le insiste en que lo mejor es no contarlo, 
                        pero ¿y si el marido de Alicia tiene algún interés en que la verdad no salga a la luz? ¿Y si oculta algo?.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="10">
            <h2><a class="link" href="article.html">John Barrita</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Juan Garcia Perez</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-10-225px.jpg 1x, img/article-10-450px.jpg 2x, img/article-10-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-10-360px.jpg 1x, img/article-10-720px.jpg 2x, img/article-10-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-10-180px.jpg 1x, img/article-10-360px.jpg 2x, img/article-10-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-10-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/23 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 33 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="10">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Hay gente que siempre anda diciendo aquello de “tengo que montar algo”, y luego nunca se decide ni hace nada,
                        pero los dos que se han juntado en este proyecto, John Torres (panadero en una de las mejores panaderías de Madrid, 
                        La Panotheca) y Javi Estévez (La Tasquería, Cocinero Revelación 2016 en Madrid Fusión) no son precisamente de esos. 
                        Hace unos meses empezaron a darle forma al proyecto gracias a un evento en el que colaboraron, y hace apenas 3 semanas y 
                        tras un intenso trabajo probando combinaciones, han abierto John Barrita, 
                        un proyecto que promete convertirse en uno de los mejores fichajes para comer bocatas de calidad en Madrid.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="11">
            <h2><a class="link" href="article.html">Maraton</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Arturo Valls</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar-11.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-11-225px.jpg 1x, img/article-11-450px.jpg 2x, img/article-11-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-11-360px.jpg 1x, img/article-11-720px.jpg 2x, img/article-11-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-11-180px.jpg 1x, img/article-11-360px.jpg 2x, img/article-11-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-11-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/23 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 11 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="11">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        El EDP Maratón Madrid Rock n Roll Series ya tiene fecha confirmada. Organizado por Competitor Spain y Mapoma, 
                        su cuadragésima edición tendrá lugar el domingo 23 de abril de 2017.
                        La participación para ser protagonista en sus tres modalidades de competición (Maratón, Media y 10k) está abiert a todo el 
                        deportista que lo desee, mayor de 18 años, y que haya cumplido con todos los requisitos de inscripción tanto en plazo 
                        como en forma. El recorrido del Maratón Madrid Rock n Roll Series 2017 tenrá una distancia de 42,195kms., 
                        21,097kms. y de 10k. Si quieres resolver cualquier duda o valorar esta carrera puedes acceder a nuestro foro 
                        del Maratón Madrid Rock n Roll Series 2017.
                    </a>
                </div>
            </div>
        </article>
        <article class="box-article" data-id="12">
            <h2><a class="link" href="article.html">La Patagonia</a></h2>
            <div class="block-up">
                <div class="author">
                    <div class="info-autor">
                        <p class="label">Autor</p>
                        <p class="cont">Elena Rodriguez</p>
                    </div>
                    <div class="avatar">
                        <img src="./img/avatar.jpg"/>
                    </div>
                </div>
                <div class="cont-img">
                    <a class="link" href="article.html">
                        <picture>
                            <source srcset="img/article-12-225px.jpg 1x, img/article-12-450px.jpg 2x, img/article-12-675px.jpg 3x" media="(max-width:479px)">
                            <source srcset="img/article-12-360px.jpg 1x, img/article-12-720px.jpg 2x, img/article-12-1080px.jpg 3x" media="(max-width:767px)">
                            <source srcset="img/article-12-180px.jpg 1x, img/article-12-360px.jpg 2x, img/article-12-540px.jpg 3x">
                            <img class="cover image img-resonsive" src="img/article-12-360px.jpg">
                        </picture>
                    </a>
                </div>
                <div class="info">
                    <div class="info-big">
                        <div class="date-pub">
                            <p class="label">Publicado el</p>
                            <p class="datebbdd">2017/08/23 12:12:32</p>
                            <p class="ago"></p>
                        </div>
                        <div class="count-coments">
                            <p class="label">Comentarios</p>
                            <p class="cont"><a class="link" href="article.html#footer">Hay 2 comentarios</a></p>
                        </div>
                    </div>
                    <div class="info-like">
                        <div class="like" data-id="12">
                            <span>Me gusta<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-down">
                <div class="introd">
                    <a class="link" href="article.html">
                        Octubre de 2012 iba a ser la fecha elegida para hacer realidad un viaje a un destino desde hace mucho tiempo deseado.
                        Esta vez más que nunca había que preparar con mimo y con sumo detalle las fechas exactas 
                        para tratar de disfrutar al máximo de todas las maravillas que a priori, nos ofrecía la Patagonia Argentina.
                        Por un lado deberíamos tener en cuenta la dura climatología, tratando de evitar las condiciones más adversas que encontraríamos en su crudo invierno y que coincide exactamente con nuestro verano pero por otro,
                        no podíamos pasar por alto las mejores fechas para la observación de fauna en ese rincón del mundo.
                    </a>
                </div>
            </div>
        </article>
    <ul class="pagination">
        <li>&lt;&lt;</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>...</li>
        <li>>></li>
        <li>fin</li>
    </ul>
    
</section>